---
import type { MDXLayoutProps } from 'astro';
import { TinaMarkdown } from 'tinacms/dist/rich-text'

type Props = MDXLayoutProps<{
    title: string;
	body: string;
}>;

const {	frontmatter } = Astro.props;
---

<html lang="en">
    <head></head>
    <body>
        <h1>{frontmatter.title}</h1>
        <slot />
    </body>
</html>